<!--

/**
  * file name: footer.ejs
  * Student name: Nusrat Jahan
  * Student Id: 300967157
  * Date: Feb 16, 2019
  */

-->

<div id="footer">
    <p class="p-3">&copy;copyright - Nusrat Jahan, std. Id: 300967157, COMP 308 - Emerging Technology.</p>
</div>

<!-- JavaScript Section -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>

</html>