<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%= title %></title>
  <!-- CSS Section-->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/Content/app.css" />
</head>

<body>
  <div class="fixed-top">
  <div id="logoDiv">
    <img src="Assets/images/Nusrat_logo01.png" width="300px" height="100px" />
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h4 class="text-white">Nusrat Jahan - 300967157</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <% if(title == "Home") { %>
        <li class="nav-item active bg-secondary"><% } else { %></li>
        <li class="nav-item">
          <% } %>

          <a class="nav-link text-white" href="/"><i class="fa fa-lg fa-home"></i> Home
            <span class="sr-only">(current)</span></a>
        </li>

        <% if(title == "About Me") { %>
        <li class="nav-item active bg-secondary"><% } else { %></li>
        <li class="nav-item">
          <% } %>

          <a class="nav-link text-white" href="/about"><i class="fa fa-lg fa-info"></i> About Me</a>
        </li>

        <% if(title == "Projects") { %>
        <li class="nav-item active bg-secondary"><% } else { %></li>
        <li class="nav-item">
          <% } %>

          <a class="nav-link text-white" href="/projects"><i class="fa fa-lg fa-briefcase"></i> Projects</a>
        </li>

        <% if(title == "Services") { %>
        <li class="nav-item active bg-secondary"><% } else { %></li>
        <li class="nav-item">
          <% } %>

          <a class="nav-link text-white" href="/services"><i class="fa fa-lg fa-bell"></i> Services</a>
        </li>

        <% if(title == "Contact") { %>
        <li class="nav-item active bg-secondary"><% } else { %></li>
        <li class="nav-item">
          <% } %>

          <a class="nav-link text-white" href="/contact"><i class="fa fa-lg fa-phone"></i> Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  </div>
  