<%include ./partials/header.ejs %>

  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to <%= title %> </h1>

    </div>
    <% if (title == "Home") { %>
      <a class="btn btn-primary" href="/about" role="button">About Me</a>
    <% } %>
  </div>

  

  <%include ./partials/footer.ejs %>