<%include ../partials/header.ejs %>

<div class="container">

  <h2 class="display-4">Be peace upon you all! </h2>
  <h3>Welcome!!</br>
    This is the online portfolio of Nusrat Jahan,</br>
    student of Software Engineering Technology,</br>
    Centennial College.
  </h3>


  <h1>I make people tell their stories through web.</h1>

  <a class="btn btn-primary" href="/about" role="button">Know more About Me</a>

</div>

<%include ../partials/footer.ejs %>