<%include ../partials/header.ejs %>
<p class="display-4">My Project works in Centennial College</p>
<ul>
  <li>
    Web Development 1</br>
    with HTml 5 and CSS 3
  </li>
  </hr>
  <li>
    Web Development 2</br>
    with ASP.Net Core MVC
  </li>
  </hr>
  <li>
    Java
  </li>
  </hr>

</ul>

<%include ../partials/footer.ejs %>
