<%include ../partials/header.ejs %>

<h4 class="text-primary">As a Software Engineer, I give services related to programming and web development.</h4>
  <ul>
    <li>
      HTml
    </li>
    <li>
      CSS
    </li>
    <li>
      JavaScripts
    </li>
    <li>
      Java
    </li>
    <li>
      Linux
    </li>
  </ul>

  <p>Tell your stories and I will enlighten it through your websites. So,</p>
  <a class="btn btn-primary" href="/contact" role="button">Contact me</a>

  <%include ../partials/footer.ejs %>